<body class='garage'>
	<%= render 'layouts/header' %><br>
	<div class='entry'><br>
		<p class='vehicleentry'>
			<%= @vehicle.make %>
			<%= @vehicle.model %>
		</p>
		<%= form_for :note, url: '/list' do |f| %>
		  <%= f.text_field :list, placeholder: "Add a service note", :autocomplete => :off %><br>
		
		  <%= f.hidden_field :vehicle_id, :value => params[:vehicleid] %><br>
		  <%= f.submit :title => "Submit", :type => :image, :src => image_path("/images/login.png") %>
		<% end %>
	</div>
</body>

