<body class='welcome'>
  	<%= render 'layouts/header' %><br>
  	<div class='formbox'>
		<h2>Sign up / <a href="/login">Log in</a></h2>
		<div class='forms'>
		  <%= form_for :user, url: '/users' do |f| %>
		    <%= f.text_field :name, placeholder: "Username", :autocomplete => :off %><br>
		    <%= f.text_field :email, placeholder: "Email", :autocomplete => :off %><br>
		    <%= f.password_field :password, placeholder: "Password"%><br>
		    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation"%><br><br>
		    <%= f.submit "Signup", :type => :image, :src => image_path("/images/login.png") %><br>
		  <% end %>
		</div>
	</div>
	<div id="door"></div>
</body>
