<body class='garage'>
	<%= render 'layouts/header' %><br>
	<div class='entry'>
		<%= form_for :auto_entry, url: '/entry' do |f| %>
		  <%= f.text_field :entry, placeholder: "Add a service entry", :autocomplete => :off %><br>
		
		  <%= f.hidden_field :vehicle_id, :value => params[:vehicleid] %>
		  <%= f.submit "Submit" %>
		<% end %>
	</div>
</body>
