<body class='garage'>
	 <%= render 'layouts/header' %><br>
	 
	 <div class='vehicleshow'><br>
	 	<p class='vehicletitle'>
		 	<%= @vehicle.year %>
			<%= @vehicle.make %>
			<%= @vehicle.model %>
		</p><br>
		Color:  <%= @vehicle.color %><br>
		Mileage:  <%= @vehicle.mileage %><br>
		MPG:  <%= @vehicle.mpg %><br><br>
		<form action='/delete' id='deletevehicle'>
		    <button type="submit" title="Delete <%= @vehicle.model %>" name='delete' value="<%= @vehicle.id %>"><img src="/images/can1.png" width="15" height="15"></button>
		</form><br>
		<form action='/miles' id='mpgform'>
			<input type ='double' name='miles' placeholder="Miles Traveled" autocomplete="off"></input>
			<input type ='double' name='gallons' placeholder="Gallons Used" autocomplete="off"></input><br>
		    <button type="submit" title="Calculate <%= @vehicle.model %> MPG" name='id' value="<%= @vehicle.id %>"><img src="/images/calc.png" width="25" height="25"></button>
		</form>
		
		<div class='oilchange'><br>
			<%= form_for @vehicle, url: '/oilchange' do |f| %>
			  <%= f.number_field :mileage, :autocomplete => :off, :placeholder => "Miles Traveled" %><br>
			  <%= f.hidden_field :id, :value => @vehicle.id %>
			  <%= f.submit "Oil Change", :type => :image, :src => image_path("/images/oilcan.png") %>
			<% end %>
		</div>
	 </div>
	 
	<div class='log'><br>
		<%if !@vehicle.auto_logs.empty?%>
			<p class='vehicleentry'>
				<%=@vehicle.model%> Service Log<br><br>
			</p>
			<%@vehicle.auto_logs.each do |log|%>
				<form action='/deletelog'>
					<%=log.entry%>
				    <button type="submit" title='Delete Log Entry' name='delete' value="<%= log.id %>"><img src="/images/can1.png" width="15" height="15"></button>
				</form>
			<%end%>
		<%else%>
			Service Log Empty<br>
		<%end%>
		<form action='/log'>
		    <button type="submit" title="Add Service Entry" name='vehicleid' value="<%= @vehicle.id %>"><img src="/images/service.png" width="25" height="25"></button><br>
		</form><br>
	</div>
		
	<div class='note'><br>
		<%if !@vehicle.notes.empty?%>
			<p class='vehicleentry'>
				<%=@vehicle.model%> Notes<br><br>
			</p>
			<%@vehicle.notes.each do |note|%>
				<form action='/deletenote'>
					<%=note.list%>
				    <button type="submit" title='Delete Note' name='delete' value="<%= note.id %>"><img src="/images/can1.png" width="15" height="15"></button>
				</form>
			<%end%>
		<%else%>
			Notes Empty<br>
		<%end%>
		<form action='/note'>
		    <button type="submit" title="Add <%= @vehicle.model %> Note" name='vehicleid' value="<%= @vehicle.id %>"><img src="/images/note1.png" width="25" height="25"></button><br>
		</form><br>
	</div>
</body>

